<div class="containerHome">
    <mat-grid-list cols="2" rowHeight="2:2">
        <mat-grid-tile>
            <div class="info">
                <h1 class="tittle1"><span class="tittle1-color">FRONT-END </span>DEVELOPER</h1>
                <br>
                <p class="para1"> My name is Lucas Martin. A enthusiastic Front-end <br>Angular developer.</p>
                <br>
                <a mat-icon-button href="https://github.com/lucasmartinmota">
                    <img src="assets/githubBlack.png" alt="Github">
                </a>
                <a mat-icon-button href="https://www.linkedin.com/in/lucas-martin-mota">
                    <img src="assets/linkedin.png" alt="Github">
                </a>  
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="cont22">
            <img class="imgMe" src="assets/foto.jpeg" alt="">
            <br>
            <br>
            <div class="contlogo">
                <a class="linkB" href="https://angular.io"><img class="logoimgA" src="assets/angularlogo.png" alt=""></a>
                <a class="linkB" href="https://material.angular.io"><img class="logoimg" src="assets/material.png" alt=""></a>
                <a class="linkB" href="https://html.com"><img class="logoimg" src="assets/html-5.png" alt=""></a>
                <a class="linkB" href="https://sass-lang.com"><img class="logoimg" src="assets/sass.png" alt=""></a>
                <a class="linkB" href="https://www.typescriptlang.org"><img class="logoimg" src="assets/typescript.png" alt=""></a>
            </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>