<div class="containerAbout">
    <mat-grid-list cols="2" rowHeight="2:2">
        <mat-grid-tile>
            <div>
                <h1 class="tittle1"><span class="tittle1-color">ABOUT </span>ME</h1>
                <p class="text1">
                    I'm Lucas, based in Brazil. Study Development 
                    of System in a Public University.<br>
                    I'm studying Angular and all his functions, I'm studying<br> 
                    Sass to evolve in Front-end and make difference in job market's.<br> 
                    My objective is learn Front and Back-end and be a Full-stack development.
                </p>
               
                <h1 class="tittle2">
                    SKILLS
                </h1>
                <p class="text2">
                    <span class="txt-color1">Communicative</span> <br><br>
                    <span class="txt-color2">Helpful</span> <br><br>
                    <span class="txt-color3">Willing to learn</span> <br><br>
                    <span class="txt-color4">Hardworking</span> <br><br>
                    <span class="txt-color5">Friendly</span> <br><br>
                    <span class="txt-color6">Focused</span> <br><br>
                </p>
                
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <img class="imgMe" src="assets/me.jpeg" width="300px">
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>