.containerAbout{
    background: rgb(231,230,230);
    background: linear-gradient(0deg, rgba(231,230,230,1) 25%, rgba(255,255,255,1) 85%);
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    cursor: default;
    user-select:none
}

.tittle1x{
    font-size: xx-large;
    font-weight: bold;
    
}
.tittle1{
    font-size: x-large;
    font-weight: bold;
    
}

.text1{
    font-size: 15px;
    font-weight: 450;
}

.tittle2{
    font-size: large;
    font-weight: 600;
}

.text2{
    font-size: 15px;
    font-weight: 600;
    margin-right: 100px;
}

.txt-color1{
    background-color: rgba(255, 255, 0, 0.781);
    padding: 5px;
    border-radius: 20px;
    border: black solid;
    border-width: 1px;
    margin-bottom: 10px;
    -webkit-transition: font-size 0.4s ease-out;
    -moz-transition: font-size 0.4s ease-out;
    -o-transition: font-size 0.4s ease-out;
    transition: font-size 0.4s ease-out;
}
.txt-color1:hover{
    font-size: 18px;
    margin-right: -21px;
}

.txt-color2{
    background-color: rgba(255, 192, 203, 0.884);
    padding: 5px;
    border-radius: 20px;
    border: black solid;
    border-width: 1px;
    -webkit-transition: font-size 0.4s ease-out;
    -moz-transition: font-size 0.4s ease-out;
    -o-transition: font-size 0.4s ease-out;
    transition: font-size 0.4s ease-out;
}
.txt-color2:hover{
    font-size: 18px;
}

.txt-color3{
    background-color: rgba(0, 81, 255, 0.753);
    padding: 5px;
    border-radius: 20px;
    border: black solid;
    border-width: 1px;
    -webkit-transition: font-size 0.4s ease-out;
    -moz-transition: font-size 0.4s ease-out;
    -o-transition: font-size 0.4s ease-out;
    transition: font-size 0.4s ease-out;
}
.txt-color3:hover{
    font-size: 16px;
    margin-right: -7px;
}


.txt-color4{
    background-color: rgba(255, 0, 0, 0.767);
    padding: 5px;
    border-radius: 20px;
    border: black solid;
    border-width: 1px;
    -webkit-transition: font-size 0.4s ease-out;
    -moz-transition: font-size 0.4s ease-out;
    -o-transition: font-size 0.4s ease-out;
    transition: font-size 0.4s ease-out;
}
.txt-color4:hover{
    font-size: 18px;
}

.txt-color5{
    background-color: rgba(255, 166, 0, 0.774);
    padding: 5px;
    border-radius: 20px;
    border: black solid;
    border-width: 1px;
    -webkit-transition: font-size 0.4s ease-out;
    -moz-transition: font-size 0.4s ease-out;
    -o-transition: font-size 0.4s ease-out;
    transition: font-size 0.4s ease-out;
}
.txt-color5:hover{
    font-size: 18px;
}

.txt-color6{
    background-color: rgba(128, 128, 128, 0.74);
    padding: 5px;
    border-radius: 20px;
    border: black solid;
    border-width: 1px;
    -webkit-transition: font-size 0.4s ease-out;
    -moz-transition: font-size 0.4s ease-out;
    -o-transition: font-size 0.4s ease-out;
    transition: font-size 0.4s ease-out;
}
.txt-color6:hover{
    font-size: 18px;
}

.imgMe{
    border-radius: 100%;
    
}

.flexingItens{
    display: flex;
    
}

.imgLogo{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-right: 0;
    color: transparent;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: -15px;
    padding-left: 10px;
    -webkit-transition: color, background-color 0.4s ease-out;
    -moz-transition: color, background-color 0.4s ease-out;
    -o-transition: color, background-color 0.4s ease-out;
    transition: color, background-color 0.4s ease-out;
}

.imgLogo:hover{
    color: black;
    padding-right: 70px;
    background-color: rgb(167, 166, 166);
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: -15px;
    padding-left: 10px;
}
.logoimgA{
    width: 42px;
}

.logoimg{
    width: 34px;
    margin-right: 5px;
}

.tittle1-color{
    animation: changeColor 3s infinite;
}
@keyframes changeColor {
    0% {
        color: #7bacf5;
    }
    25%{
        color: #0d57be;
    }
    50% {
        color: #000000;
    }
    75% {
        color: #0d57be;
    }
    100% {
        color: #7bacf5;
    }
  }

  .txtCert{
    font-size: 15px;
    text-align: justify;
    font-weight: 500;
    margin-right: 50px;
  }

  .txtCert1{
    font-size: 18px;
    text-align: justify;
    font-weight: 500;
    margin-right: 50px;
  }

