<div class="containerAbout">
    <mat-grid-list cols="2" rowHeight="2:2">
        <mat-grid-tile>
            <div>
                <h1 class="tittle1x"><span class="tittle1-c">ABOUT </span>ME</h1>
                <p class="text1">
                    I'm Lucas Martin Mota, based in Brazil. Study Development 
                    of System<br> in a Public University.
                    I'm studying Angular and all his functions, I'm also studying<br> 
                    Sass to evolve in Front-end and make difference in job market's.<br> 
                    My objective is learn Front and Back-end and be a Full-stack development.
                </p>
                <div class="flexingItens">
                    <div class="text2">
                        <h1 class="tittle2">
                            SKILLS
                        </h1>
                        <span class="txt-color1">Communicative</span> <br><br>
                        <span class="txt-color2">Helpful</span> <br><br>
                        <span class="txt-color3">Willing to learn</span> <br><br>
                        <span class="txt-color4">Hardworking</span> <br><br>
                        <span class="txt-color5">Friendly</span> <br><br>
                        <span class="txt-color6">Focused</span> <br><br>
                    </div>
                    <div class="text2">
                        <h1 class="tittle2">
                            STUDYING
                        </h1>
                        <span class="imgLogo"><img class="logoimgA" src="assets/angularlogo.png"  alt="">Angular</span> <br> <br>
                        <span class="imgLogo"><img class="logoimg" src="assets/material.png"  alt="">Angular Material</span> <br> <br>
                        <span class="imgLogo"><img class="logoimg" src="assets/html-5.png"  alt="">HTML-5</span> <br> <br>
                        <span class="imgLogo"><img class="logoimg" src="assets/sass.png" alt="">SASS</span> <br> <br>
                        <span class="imgLogo"><img class="logoimg" src="assets/typescript.png"  alt="">TypeScript</span> <br> <br>
                        <span class="imgLogo"><img class="logoimg" src="assets/mysql.png" alt="">MySql</span> <br><br>
                    </div>
                </div>
            </div>
                
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h1 class="tittle1"><span class="tittle1-color">CERTIFICATION</span></h1>
                <p class="txtCert">
                    Analysis and systems development in Instituto Federal de São Paulo, Duration: In progress <br> <br>

                    Computer Network in Instituto Federal de São Paulo, Duration: 3 Years <br> <br>

                    Theory and Practice of administrative processes in Grupo Inovar, Duration: 1 Year <br> <br>

                    Microsoft Office in Grupo Inovar, Duration: 1 Year <br> <br>
 
                    Corel Draw X5 in Grupo Inovar, Duration: 1 Year <br> <br>

                    Operacional System in Grupo Inovar, Duration: 1 Year <br> <br>
                </p>
                <h1 class="tittle1"><span class="tittle1-color">EXPERIENCE</span></h1>
                <p class="txtCert1">
                    IT Support by FRE Access - Started in March 13, 2023
                </p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>