.conteiner1{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    user-select:none
}

label{
    font-weight: bold;
    color: white;
    font-size: large;
    background-color: transparent;
}
.l1{
    color: #6D87FA;
    font-weight: bold;
    background-color: transparent;
}
